.heroSection {
  padding: 4rem 2rem;
  background-color: #d0e3ff; /* Culoarea de fundal a secțiunii Hero */
}

.heroContent {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left; /* Aliniază la stânga */
}

.heroTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 1rem;
  margin-left: 2rem; 
}

.heroSubtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2rem;
  margin-left: 2rem; 
}

.cardContainer {
  display: flex;
  justify-content: flex-start; 
  gap: 2rem;
  flex-wrap: wrap; 
  margin-left: 2rem; 
}

.heroCard {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 500px;
  text-align: left;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1b0177;
  margin-bottom: 1rem;
}

.cardText {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.cardButton {
  background-color: #1b0177; /* Culoarea butonului */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.cardButton:hover {
  background-color: #1b0177b8; /* Culoarea butonului la hover */
}

.cardLinks {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 0.9rem;
  text-decoration: none;
}

.cardLink {
  text-decoration: none;
  color: #1b0177;
  text-decoration: underline;
  cursor: pointer;
}



  /* ABOUT SECTION */

  .aboutSection {
    width: 100vw;
    padding: 3rem 0;
    background-color: #fdfdff;
  }
  
  .aboutContentWrapper {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carouselWrapper {
    flex: 1;
    max-width: 500px; /* Lățimea maximă a caruselului */
  }
  
  .carousel {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carouselCustom {
    overflow: hidden;
  }
  
  .carousel-item {
    height: 300px; /* Înălțime fixă pentru carusel */
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
  }
  
  .carousel-item img {
    object-fit: cover; /* Asigură imaginea se încadrează fără a fi distorsionată */
    border-radius: 10px;
    max-width: 500px;
  }
  
  .aboutTextWrapper {
    flex: 1;
    max-width: 500px;
    padding: 1rem;
  }
  
  .aboutTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    
  }
  
  .aboutText {
    font-size: 1rem;
    line-height: 1.5;
  }  
  
  /* Elimină marginile și padding-urile pentru lista și itemii din listă */
    .aboutTextWrapper ul {
    margin: 0;  /* Elimină marginea de sus și de jos a listei */
    padding: 0; /* Elimină padding-ul implicit al listei */
  }
  
  .aboutTextWrapper li {
    margin: 0;  /* Elimină marginea dintre itemii din listă */
    padding: 0;
    margin-bottom: 1rem; /* Elimină padding-ul dintre itemii din listă */
  }
  

  


  .styleImage{
    border-radius: 10px;
    max-width: 500px;
  }

  /* povestile elevilor */
  .storiesSection {
    padding: 3rem 0;
    background-color: #D2E2FF;
}

.sectionTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #333;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin: 0 1rem 1.5rem;
}

.card a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    color: #1b0177b8;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card a:hover {
    color: #1b0177b8;
}

.formSubmission {
    padding: 2rem;
    background-color: #D2E2FF;
    border-radius: 12px;
    margin: 2rem 0;
  }
  
  .sectionTitle {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
  
  .formColumn {
    display: flex;
    flex-direction: column;
  }
  
  .formColumn p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  .link {
    color: #1b0177;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 1rem;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .downloadButton {
    display: inline-block;
    background-color: #1b0177;
    color: #ffffff;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px; /* Schimbare radius */
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
  }
  
  .downloadButton:hover {
    background-color: #1b0177b8;
  }
  
  .formSubmission strong {
    color: #333;
  }
  

  /* SPONSORSHIP CALCULATOR */
/* Secțiunea Calculator Sponsorizare */
.sponsorizeazaSection {
  background-color: #D2E2FF;
  padding: 4rem 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sectionSubtitle {
  font-size: 1.2rem; /* Dimensiune mărită */
  color: #555;
  text-align: left; /* Aliniere la stânga */
}

.calculator {
  display: flex;
  align-items: stretch; /* Face ambele coloane să aibă aceeași înălțime */
  justify-content: space-between;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
  gap: 4rem; /* Distanță între coloane */
}

.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.calculatorResult {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  height: 100%;
}


.label {
  font-size: 1rem; 
  font-weight: bold;
  color: #4a4f54;
  text-align: left; 
}

.amountInputWrapper {
  display: flex;
  align-items: center;
  position: relative; /* Wrapper-ul pentru poziționarea absolută */
}

.amountInput {
  flex: 1;
  padding: 0.5rem; 
  padding-left: 1rem; /* Spațiu pentru textul utilizatorului */
  padding-right: 3rem; /* Lasă spațiu suficient pentru "RON" */
  font-weight: bold;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.amountInput:focus {
  outline: none;
  border-color: #1b0177; /* Border color la focus */
}

.amountSuffix {
  position: absolute;
  right: 10px; /* Poziționează "RON" în partea dreaptă a câmpului */
  top: 50%; /* Centrare pe verticală */
  transform: translateY(-50%); /* Aliniere verticală perfectă */
  font-size: 0.9rem;
  color: #888;
  pointer-events: none; /* Evită interferențele cu utilizatorul */
}


.resultText {
  font-size: 3rem;
  font-weight: bold;
  color: #1b0177;
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Elimină săgețile în Chrome, Safari, Edge */
  margin: 0;
}

.cardButton2 {
  background-color: #1b0177; /* Culoarea butonului */
  color: #fff;
  padding: 10px 100px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 3rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-bottom: 1.5rem;
}