.TermsPage {
  display: flex;
  height: 100vh; /* Înălțime completă */
}

.sidebar {
  width: 300px;
  height: 100vh;
  overflow-y: auto; /* Permite derularea verticală */
  border-right: 1px solid #ddd;
  padding: 15px;
  background-color: #f6f8fa; /* Culoare de fundal deschisă */
}

.menuItem {
  color: #333333c7;
  text-align: left;
  font-size: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  line-height: 1.5; 
  white-space: normal; 
  word-wrap: break-word;
}

.menuItem:hover {
  color: #000; /* Text negru pe hover */
}

.menuItem.active {
  font-weight: bold;
  color: #000; /* Text negru */
}

.button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px 15px; /* Mai mult padding pentru un aspect aerisit */
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 5px; /* Colțuri rotunjite */
  cursor: pointer;
  color: #333333c7; /* Text mai închis */
  transition: background-color 0.3s, color 0.3s; /* Tranziții pentru hover */
}

.button:hover {
  background-color: #eaeaea; /* Fundal gri deschis pe hover */
  color: #000; /* Text negru pe hover */
}

.button.active {
  font-weight: bold;
  background-color: #d0d7de; /* Fundal mai închis pentru elementul activ */
  color: #000; /* Text negru */
}

.subMenu {
  margin-top: 10px;
  padding-left: 20px; /* Indentare pentru submeniu */
}

.subMenuItem {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px; /* Spațiu mai mare între subtitluri */
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s, text-decoration 0.3s; /* Tranziții pentru hover */
}

.subMenuItem:hover {
  color: #1a73e8; /* Culoare albastră pe hover */
  text-decoration: underline; /* Sublinează pe hover */
}


.mainContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .metadata {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .metadata a {
    color: #1a73e8;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .metadata a:hover {
    text-decoration: underline;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sectionContent {
    font-size: 14px;
    color: #333;
  }
  